# This is Git's global configuration.
# The persistent system-level config (for Git for Windows) is located at
# /c/ProgramData/Git/config, or is otherwise accessed via
# `git config --system --edit` on other Git distributions.

[alias]
	alias = !git config --get-regexp '^alias\\.' | cut -d '.' -f '2-' | sed -re 's/^([^ ]+) /\\1\\t/g' | column -s $'\\t' -t | sort
	ll = log --pretty=format:"%C(yellow)%h%C(red)%d%C(reset)\\ %s\\ %C(blue)%C(bold)[%cn]%C(reset)" --decorate --numstat
	lo = log --oneline --decorate
	ls = log --pretty=format:"%C(yellow)%h%C(red)%d%C(reset)\\ %s\\ %C(blue)%C(bold)[%cn]%C(reset)" --decorate
	lsd = log --pretty=format:"%C(yellow)%h\\ %ad%C(red)%d%C(reset)\\ %s\\ %C(blue)%C(bold)[%cn]%C(reset)" --decorate --date=short
	lsdr = log --pretty=format:"%C(yellow)%h\\ %ad%C(red)%d%C(reset)\\ %s\\ %C(blue)%C(bold)[%cn]%C(reset)" --decorate --date=relative
	pullf = pull --ff-only
	pullfsur = !git pull --ff-only && git submodule update --recursive
	pullr = pull --rebase
	pullrp = !git pull --rebase && git push
	pullrsur = !git pull --rebase && git submodule update --recursive
	pullrsurp = !git pull --rebase && git submodule update --recursive && git push
	sur = submodule update --recursive
[color]
	branch = auto
	diff = auto
	interactive = true
	status = auto
[core]
	autocrlf = false
	fscache = true
	longpaths = true
	pager = less -x1,5
	symlinks = false
	whitespace = cr-at-eol,tabwidth=4,trailing-space
[diff]
	wsErrorHighlight = old,new
# diff document files based on their text contents rather than binaries
[diff "astextplain"]
	textconv = astextplain
[help]
	format = html
[push]
	default = current
[rebase]
	autosquash = true
[user]
	name = Jordan Atwood
	email = jordan.atwood423@gmail.com
