# This is Git's global configuration.
# The persistent system-level config (for Git for Windows) is located at
# /c/ProgramData/Git/config, or is otherwise accessed via
# `git config --system --edit` on other Git distributions.

[alias]
	pullr = pull --rebase
[color]
	branch = auto
	diff = auto
	interactive = true
	status = auto
[core]
	autocrlf = false
	fscache = true
	pager = less -x1,5
	symlinks = false
	whitespace = cr-at-eol,tabwidth=4,trailing-space
[diff]
	wsErrorHighlight = old,new
# diff document files based on their text contents rather than binaries
[diff "astextplain"]
	textconv = astextplain
[help]
	format = html
[push]
	default = current
[rebase]
	autosquash = true
[user]
	name = Jordan Atwood
	email = jordan.atwood423@gmail.com
