#!/bin/bash

# simple aliases
alias python='/c/Python2*/python.exe'
python2_path="$(find /c/ -maxdepth '1' -name 'Python2*')/Scripts"
export PATH="${PATH}:${python2_path}"
alias pip='/c/Python2*/Scripts/pip.exe'
alias python3='/c/Python3*/python.exe'
python3_path="$(find /c/ -maxdepth '1' -name 'Python3*')/Scripts"
export PATH="${PATH}:${python3_path}"
alias pip3='/c/Python3*/Scripts/pip.exe'

# complex aliases
np='/c/Program Files (x86)/Notepad++/notepad++.exe'
export EDITOR="$np"
function np {
	# Git for Windows bash does not have pgrep :c
	#shellcheck disable=SC2009
	if ps aux | grep -q 'notepad++'; then
		"$np" "$@"
	else
		# preferred over `"$np" &@ &` `disown -h` as it hides the job# output
		("$np" "$@" &) &>/dev/null
	fi
}

# Ensure `xdg-open` exists for opening web browser pages
if ! type xdg-open &>/dev/null; then
  echo 'defining xdg-open'
  # TODO: add check for `python` and `python -m webbrowser`
  function xdg-open {
    if [ "$#" != 1 ]; then
      echo "Usage: ${FUNCNAME[0]} url"
    fi

    local url
    if ! [[ "$1" =~ .+://.+ ]]; then
      if [ -f "$1" ]; then
        # TODO: troubleshoot
        url="file://$(cygpath $(realpath $1))"
      else
        url="http://$1"
      fi
    else
      url="$1"
    fi
    python -m webbrowser "$url"
  }
fi
