#!/bin/bash

# simple aliases
alias python='/c/Python2*/python.exe'
export PATH="${PATH}:$(find /c/ -maxdepth '1' -name 'Python2*')/Scripts"
alias pip='/c/Python2*/Scripts/pip.exe'
alias python3='/c/Python3*/python.exe'
export PATH="${PATH}:$(find /c/ -maxdepth '1' -name 'Python3*')/Scripts"
alias pip3='/c/Python3*/Scripts/pip.exe'

# complex aliases
np='/c/Program Files (x86)/Notepad++/notepad++.exe'
export EDITOR="$np"
function np {
	# Git for Windows bash does not have pgrep :c
	#shellcheck disable=SC2009
	if ps aux | grep -q 'notepad++'; then
		"$np" "$@"
	else
		# preferred over `"$np" &@ &` `disown -h` as it hides the job# output
		("$np" "$@" &) &>/dev/null
	fi
}
